* {
  font-family:'Lucida Bright';
}

.navbar {
    background-image: linear-gradient( #8c8c8c,#aba0aa)
}

#transcription {
    width: 100%;
    height: 200px;
    overflow-y: auto;
}

.card:hover {
    cursor: pointer;
}